.fill {
	min-height: 100%;
	height: 100%;
}

.activity-list-fill {
    min-height: 90%;
    height: 90%;
}

.list-fill {
    min-height: calc(90% - 150px);
    height: calc(90% - 150px);
    top: 150px;
    width: 200px;
    margin-right: 15px;
    margin-left: 15px;
    position: absolute;

}

.custom-table {
    padding:5px;
    width: 150px;
}

.custom-time-input {
    width: 70px;
}

body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.top-buffer { margin-top:20px; }

.DocumentList
{
    overflow-x:auto;
    overflow-y:hidden;
    /*padding: 0 15px;*/
    white-space: nowrap;
    position: relative;

}

.DocumentItem
{
    margin-left: 10px;
    width: 250px;
    /*float: left;*/
    /*border: 3px solid #490A3D;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.parked-wrapper {
    /*border: 3px solid #490A3D;*/
    padding-top: 5px;
}

.specialrow {
    white-space: nowrap;
}

.list-wrapper {
    position: absolute;
    height: 100%;
    top: 30%;

}

.fill-to-bottom {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 80%;
}

.table-to-bottom {
    height: 100%;
    top: 0;
}

.helper-class {
    width: 30px;
}

.placeholder-list-element {
    background: #ccc;
    border: 1px dotted #aaa;
    padding: 10px;
}

.list-droppable {
    overflow-y: auto;
    border: 3px dashed #490A3D;
}

.list-group {
    min-height: 100%;
}

.add-a-day-btn {
    position: absolute;
    top: 40%;
    width: 100px;
    height: 100px;
}

.delete-a-day-btn {
    position: absolute;
    bottom: 1%;
    width: 230px;
    height: 5%;
}

.list-group-item {
    cursor: default;
}

.list-group-item-success {
    background: #8A9B0F;
    color: white;
}

.list-group-item-info {
    background: #BD1550;
    color: white;
}

.list-group-item-warning {
    background: #E97F02;
    color: white;
}

.list-group-item-danger {
    background: #490A3D;
    color: white;
}

.divider {
    position: absolute;
    height: 2px;
    width: 80%;
    bottom: 25%;
    left: 10%;
    background: #dc143c;
}
.add-breaks-btn{
    background: #E97F02;
    color: white;
    font-size: .8em;
}
.add-breaks-btn:hover {
    background: #c36a02;
    color: white;
}