.fill {
	min-height: 100%;
	height: 100%;
}

.list-fill {
    min-height: 80%;
    height: 80%;   
}

body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.top-buffer { margin-top:20px; }

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    /*padding: 0 15px;*/
    white-space: nowrap;
    position: relative;
}

.DocumentItem
{
    padding:20px;
    width: 250px;
}

.specialrow {
    width: 500%;
}

.list-wrapper {
    position: absolute;
    height: 100%;
    top: 30%;

}

.fill-to-bottom {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 80%;
}

.table-to-bottom {
    height: 100%
    top: 0;
}

.helper-class {
    width: 30px;
}

.placeholder-list-element {
    background: #ccc;
    border: 1px dotted #aaa;
    padding: 10px;
}

.list-droppable {
    overflow-y: auto;
}