.fill {
	min-height: 100%;
	height: 100%;
}

.activity-list-fill {
    min-height: 90%;
    height: 90%;   
}

.list-fill {
    min-height: 80%;
    height: 80%;   
}

body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.top-buffer { margin-top:20px; }

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    /*padding: 0 15px;*/
    white-space: nowrap;
    position: relative;
}

.DocumentItem
{
    margin-left: 10px;
    width: 250px;
    float: left;
}

.specialrow {
 /*   width: auto;*/
}

.list-wrapper {
    position: absolute;
    height: 100%;
    top: 30%;

}

.fill-to-bottom {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 80%;
}

.table-to-bottom {
    height: 100%
    top: 0;
}

.helper-class {
    width: 30px;
}

.placeholder-list-element {
    background: #ccc;
    border: 1px dotted #aaa;
    padding: 10px;
}

.list-droppable {
    overflow-y: auto;
}

.list-group {
    min-height: 100%;
}

.add-a-day-btn {
    position: absolute;
    top: 40%;
    width: 100px;
    height: 100px;
}

.list-group-item-success {
    background: #8A9B0F;
    color: white;
}

.list-group-item-info {
    background: #BD1550;
    color: white;   
}

.list-group-item-warning {
    background: #E97F02;
    color: white;
}

.list-group-item-danger {
    background: #490A3D;
    color: white;
}